[Unit]
Description=Cast Home Assistant
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/homeassistant/cast.sh
Restart=on-failure

[Install]
WantedBy=default.target
